* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #00385d;
    color: #fff;
}

.conteiner-login-main {
    display: flex;
    max-width: 330px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.conteiner-login-main h2, .logo-unso {
    text-align: center;
}

h2 {
    font-size: 1.78em;
}

.form-login input{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin-bottom: 21px;
    font-size: 1em;
}

.form-login select{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin-bottom: 21px;
    font-size: 1em;
}


.form-login button {
    width: 100%;
}

.btn-ingresar {
    background-color: #fff;
    border-radius: 12px;
    border: none;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #00385d;
    margin-bottom: 47px;
    cursor: pointer;
    margin-top: 30px;
}

.btn-external-link {
    background: none;
    border: none;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 6s;
    text-decoration: none;
} .btn-external-link:hover {
    text-decoration: underline;
}

